@import url('https://font.googleapis.com/css?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #EF8679;
    min-height: 100vh;
    overflow: hidden;
}

/* navbar start */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #051030;
    pointer-events: none;
}

.navigation a {
    text-decoration: none;
    color: #051030;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, 
.navigation a.active {
    background-color: #051030;
    color: #fff;
}
/* navbar end */

/* body start */
.journey {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
}

.journey img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

/* body end */